@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body{
    background-color: powderblue;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Potta One', cursive;
}